// main.scss */
.defaultpages{
    @apply  w-full h-full overflow-scroll
}

.pages {
    @apply w-full h-full p-2  
}
.textmain {
    @apply font-bold 
}

.roundedmain {
    @apply rounded-[20px] 
}

.hr{
    @apply  border-[#B1737E] rounded-full 
}

.hrpages {
    @apply  mb-[2px] border-[#7A4711] border-[2px] rounded-full
}


.icons {
    @apply w-[20px] h-[20px]
}

.header {
    @apply font-bold text-xl
}

.photo {
    @apply border-black border-[1px] rounded-[25px] drop-shadow-lg w-[150px]
}
.photodetail {
    @apply border-black border-[1px] rounded-[10px] drop-shadow-lg w-[120px]
}

.photoreview{
    @apply w-[70px] h-[70px] rounded-[10px]

}


.buttondelete {
    @apply bg-[#EC5B3D] text-[15px] text-white font-semibold  rounded-[50px] dropshadowwhite
}
.buttonedit {
    @apply bg-[#DD8D60] text-[15px] text-white font-semibold  rounded-[50px] dropshadowwhite 
}


// 
.dropshadowwhite {
    filter: drop-shadow(1px 3px 2px rgba(250, 255, 255, 0.8));
}

.dropshadowbottom {
    filter: drop-shadow(1px 2px 1px rgb(0, 0, 0));
}

.dropshadowbottomsub {
    filter: drop-shadow(0px 0px 1px  rgb(0, 0, 0));
}

.dropshadowtop {
    filter: drop-shadow(0px -1px 1px  rgb(192, 192, 192));
}

.dropshadowbutton {
    filter: drop-shadow(0px 0px 1px  rgb(255, 214, 82));
}
//  